[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest-cov = "*"
django = "*"
gunicorn = "*"
pytest-django = "*"
pytest = "*"

[dev-packages]
pytest-cov = "*"
codecov = "*"

[requires]
python_version = "3.9"
